@font-face {
    font-family: 'SF Pro Display';
    font-weight: bold;
    src: url('../fonts/SFProDisplay-Bold.woff') format('woff');
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    font-weight: normal;
    src: url('../fonts/SFProDisplay-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/libre-baskerville-v5-latin-regular.woff') format('woff');
  }
  